<% content_for :page_title, @service.label %>

<% content_for :head do %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js" %>
<% end %>

<% content_for :body_end do %>
  <%= javascript_tag do %>
    function setLaRowCounts(countSelector, countFunc) {
      var $totalLaRows = $(countSelector+':visible');
      $totalLaRows.each(function(_idx, elem) {
        var $elem = $(elem),
          count = countFunc($elem);
        $elem.find('.number').html(count);
      });
    }
    setupFilterDropdown(
      '#links tbody tr',
      "Search for a council or link here",
      function (selectedType, selectedId) {
        $('#links tbody tr[data-local-authority-id]:not([data-row])').each(function(_idx, element) {
          var $element = $(element);
          if ($('#links tbody tr[data-row][data-local-authority-id='+$element.data('localAuthorityId')+']:visible').length === 0) {
            $element.hide();
          } else {
            $element.show();
          }
        });
        setLaRowCounts('[data-broken-la-rows]', function($elem) {
          var la_id = $elem.closest('[data-local-authority-id]').data('localAuthorityId');
          return $('#links tbody tr[data-service-id][data-local-authority-id='+la_id+']:visible td.status .label-danger').length;
        });
        setLaRowCounts('[data-total-la-rows]', function($elem) {
          var la_id = $elem.closest('[data-local-authority-id]').data('localAuthorityId');
          return $('#links tbody tr[data-service-id][data-local-authority-id='+la_id+']:visible').length;
        });
      },
      function() {
        setLaRowCounts('[data-broken-la-rows]', function($elem) {
          return $elem.data('brokenLaRows');
        });
        setLaRowCounts('[data-total-la-rows]', function($elem) {
          return $elem.data('totalLaRows');
        });
      }
    );
    setupLinkTypeFilterRadioButtons();
  <% end %>
<% end %>

<% breadcrumb :v2_services, @service %>

<div class="page-title">
  <h2><%= @service.label %></h2>
  <p><b>Service code</b> <%= @service.lgsl_code %></p>
</div>

<%= render 'v2/shared/flashes' %>

<div class="row">
  <div class="col-md-12 content">
    <div class="panel panel-default">
      <%= render 'v2/shared/panel_heading',
                 options_for_filter_select_tag: options_for_select(
                   @local_authorities_for_dropdown.map { |la| [la.name, "local-authority-id:#{la.id}"] },
                 ),
                 with_link_type_controls: true,
                 total_rows: @total_rows,
                 total_rows_description: 'links'
      %>
      <table id="links" class="table table-bordered">
        <thead>
          <tr class="table-header">
            <th>Code</th>
            <th>Council and links</th>
            <th>Link status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @local_authorities.each do |local_authority| %>
            <% links_by_authority = @links[local_authority.id] %>
            <% next if links_by_authority.blank? %>
            <% presented_authority = LocalAuthorityPresenter.new(local_authority) %>
            <tr data-local-authority-id="<%= presented_authority.id %>">
              <td class="name clearfix" colspan="4">
                <h3 class="pull-left"><%= link_to presented_authority.name, v2_local_authority_path(presented_authority.slug) %></h3>
                <p class="pull-right broken-link-count"><span>
                  <span data-broken-la-rows="<%= presented_authority.broken_links_count %>"><span class="number"><%= presented_authority.broken_links_count %></span> broken links</span>
                  <b class="text-muted">|</b>
                  <span data-total-la-rows="<%= links_by_authority.count %>"><span class="number"><%= links_by_authority.count %></span> links</span>
                </span></p>
              </td>
            </tr>
            <% first_link, *remaining_links = *links_by_authority %>
            <%= render 'v2/shared/link_table_row', link: AnyLinkPresenter.for(first_link, local_authority: presented_authority, with_service: @service, with_service_links_count: links_by_authority.count, context: self), row_data: { local_authority_id: presented_authority.id, service_id: @service.id } %>
            <% remaining_links.each do |link| %>
              <%= render 'v2/shared/link_table_row', link: AnyLinkPresenter.for(link, local_authority: presented_authority, context: self), row_data: { local_authority_id: presented_authority.id, service_id: @service.id } %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
