<% content_for :page_title, "Local Links Manager" %>

<% content_for :head do %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js" %>
<% end %>

<% content_for :body_end do %>
  <%= javascript_tag do %>
    $( "#filter-dropdown" ).select2({
      placeholder: "Search for a council here",
      allowClear: true,
      theme: "bootstrap"
    }).on("select2:select", function (e) {
      var selected_id = e.params.data.element.value.toString();
      $('#local-authorities li').each(function(_idx, element) {
        var $element = $(element);
        if ($element.data('localAuthorityId').toString() === selected_id) {
          $element.show();
        } else {
          $element.hide();
        }
      });
    }).on("select2:unselect", function (e) {
      $('#local-authorities li').each(function(idx, element) {
        $(element).show();
      });
    });
  <% end %>
<% end %>

<% breadcrumb :local_links_manager %>

<div class="page-title">
  <h1>Local Links Manager</h1>
</div>

<div class="row">

  <div class="col-md-3 sidebar">
    <nav>
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><%= link_to 'View latest broken links', v2_broken_links_path %></li>
        <li role="presentation" class="active"><%= link_to 'View all councils', v2_local_authorities_path %></li>
        <li role="presentation"><%= link_to 'View all services', v2_services_path %></li>
      </ul>
    </nav>
  </div>

  <div class="col-md-9 content">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="row">
          <div class="col-md-3">
            <%= render 'v2/shared/sort_order_dropdown' %>
          </div>
          <div class="col-md-9">
            <%= select_tag 'filter', options_for_select(LocalAuthority.all.map { |la| [la.name, la.id] }), include_blank: true, id: 'filter-dropdown', class: 'form-control' %>
          </div>
        </div>
      </div>
      <ul id="local-authorities" class="list-group">
        <% @local_authorities.each do |local_authority| %>
          <li data-local-authority-id="<%= local_authority.id %>" class="list-group-item clearfix">
            <h4 class="pull-left"><%= link_to local_authority.name, '#' %></h4>
            <div class="pull-right">
              <p><span class="big-number"><%= local_authority.broken_links_count %></span><br/>Broken links</p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
