<% content_for :head do %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag 'application' %>
<% end %>

<% content_for :favicon do %>
  <% environment_style = GovukAdminTemplate.environment_style %>
  <%= favicon_link_tag environment_style ?
      "favicon-#{environment_style}.png" : "favicon.png" %>
<% end %>

<% content_for :content do %>
  <% if params[:controller].starts_with? 'v2/' %><div class="v2"><% end %>
  <%= breadcrumbs style: :bootstrap, display_single_fragment: true %>

  <%= yield %>
  <% if params[:controller].starts_with? 'v2/' %></div><% end %>
<% end %>

<%= render template: 'layouts/govuk_admin_template' %>
